.country-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.country-card__info{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.contry-card__name{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: #3697FE;
}