<section class="searchbar">
  <div class="flex flex-col">
    <span>País</span>
    <input
      (click)="showPopover.set(!showPopover())"
      (input)="onInputChange($event)"
      autocomplete="off"
      class="searchbar__input"
      id="searchbar"
      placeholder="Escribe el país que deseas ver"
      type="text"
    />
  </div>

  <button class="searchbar__button" [disabled]="term">🔎 Buscar</button>

  @if (showPopover()) {
  <filter-popover
    [(open)]="showPopover"
    (onFilterByContinents)="onFilterByContinents.emit($event)"
  />
  }
</section>
