.sidebar-item{
  cursor: pointer;
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  display: block;
}

.active{
  background-color: #db5555;
  color: #fff;
  transition: all 0.3s ease-in-out;
}