:host {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.continents__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.continent{
  cursor: pointer;
}

.active{
  border: 1px solid #3697FE;
  border-radius: 1rem;
}